@import '/theme.scss';

CPlayerCraft {
    flex-direction: column;

    .flex-start {
        align-self: start;
    }

    .flex-end {
        align-self: end;
    }


    .header {
        width: 100%;

        .titre {
            font-family: $hud-text-title-font;
            font-size: 24px;
            font-weight: bold;
            text-stroke-color: black;
            text-stroke-width: 2px;
            padding: 12px 16px 12px 24px;
        }
    }

    .body {
        width: 100%;

        .line {
            flex-direction: row;
            height: 50px;
            width: 100%;
            border: 1px solid red;

            &.odd {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &.even {
                background-color: rgba(4, 4, 4, 0.9);
            }
        }
    }

    .footer {
        height: 25%;
        width: 100%;
        background-color: blue;
    }
}
