@import '/theme.scss';

.page {

    icon {
        padding: 10px;
        font-size: 30px;
    }

    .main-menu {
        .col-gauche {
            width: 40%;
            flex-direction: column;
            align-items: center;

            .head {
                width: 100%;
                height: 15%;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .head-info {
                    width: 100%;

                    .xp-info {
                        justify-content: center;
                        align-items: flex-end;
                        width: 20%;
                        font-size: 15px;

                        .value {
                        }
                    }

                    .identity {
                        width: 60%;
                        font-size: 40px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .name {
                            font-size: 45px;
                        }

                        .job {
                            font-size: 20px;
                        }
                    }

                    .lvl-info {
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        font-size: 45px;
                        background-image: url('https://i.gyazo.com/6d3a6201110e4a6bccbd1558e07d1769.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }

                .xp {
                    flex-direction: column;

                    .status-bar {
                        justify-content: center;

                        
                    }
                }
            }

            .body {
                flex-direction: row;
                justify-content: space-between;
                height: 60%;
                width: 100%;
                padding-top: 10px;
                margin: 10px;

                .grid {
                    flex-direction: column;
                    width: 20%;
                    align-content: space-around;
                    justify-content: flex-start;
                    align-items: center;
                }

                .heroPortrait {
                }

                .item {
                    border: 2px solid black;
                    border-radius: 5px;
                    width: 100%;
                    height: 78px;
                    margin: 10px 10px 0 30px;
                    justify-content: center;
                    align-items: center;

                    .img-item {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .footer {
                height: 10%;
                width: 70%;
                margin-left: 30px;
                align-items: center;

                .infoplayer {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;

                    .value {
                        flex-direction: row;
                        width: 100%;
                        height: 100%;

                        .leftinfo {
                            width: 50%;
                            border: 2px solid yellow;
                        }

                        .rightinfo {
                            width: 50%;
                        }

                        .param {
                            flex-direction: column;
                            width: 30%;
                            height: 100%;
                            border: 2px solid red;

                            icon {
                                border: 2px solid red;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .status-bar {
                            flex-direction: column;
                            width: 70%;
                            height: 100%;
                            border: 2px solid blue;

                            label {
                                align-items: center;
                                border: 2px solid green;
                                width: 100%;
                                height: 100%;
                                min-height: 40px;
                                font-size: 20px;
                            }
                        }
                    }
                    /*.status-bar { /* TODO centrer la valeur de vie dans la bar

                        .progress {
                            height: 15px;
                            background-color: rgba(255,255,255, 0.3 );
                            justify-content: flex-start;
                            align-items: center;
                            border: 2px solid black;
                            border-radius: 50%;
                            width: 100%;
                            position: relative;

                            .life-value {
                                position: absolute;
                                font-size: 15px;
                                width: 100%;
                                text-align: center;
                                color: black;
                            }

                            .thirst-value {
                                position: absolute;
                                font-size: 15px;
                                width: 100%;
                                text-align: center;
                                color: black;
                            }

                            .hunger-value {
                                position: absolute;
                                font-size: 15px;
                                width: 100%;
                                text-align: center;
                                color: black;
                            }

                            .life-bar-value {
                                background-color: forestgreen;
                                border-radius: 50%;
                                height: 16px;
                                box-shadow: 0 10px 12px -10px forestgreen;
                            }

                            .thirst-bar-value {
                                background-color: dodgerblue;
                                border-radius: 50%;
                                height: 16px;
                                box-shadow: 0 10px 12px -10px dodgerblue;
                            }

                            .hunger-bar-value {
                                background-color: red;
                                border-radius: 50%;
                                height: 16px;
                                box-shadow: 0 10px 12px -10px red;
                            }
                        }
                    }*/
                }
            }
        }

        .col-droite {
            width: 60%;
            flex-direction: column;
            align-items: center;

            .bag {
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;

                .head {
                    font-size: 30px;
                    width: 90%;
                    height: 15%;
                    justify-content: center;
                    align-items: center;

                    .head-content {
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                }

                .items {
                    flex-direction: column;
                    width: 90%;
                    justify-content: space-between;
                    align-content: space-between;

                    CInventory, CInventoryVIP {
                        flex-wrap: wrap;

                        CInventoryItem {
                            background-color: rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(10px) saturate(80%);
                            border: 2px solid black;
                            border-radius: 10px;
                            width: 78px;
                            height: 78px;
                            align-items: center;
                            margin: 3px;


                            .item-name {
                                color: white;
                            }

                            .item-quantity {
                                color: blue;
                            }

                            .item-description {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
