@import '/theme.scss';

CPlayerCraftStock {
    CInventory, CInventoryVIP {
        flex-wrap: wrap;
        width: 100%;
        height: 30%;
        margin-left: 10%;
        margin-top: 2%;

        CInventoryItem, {
            background-color: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(10px) saturate(80%);
            border: 2px solid black;
            border-radius: 10px;
            width: 10%;
            height: auto;
            aspect-ratio: 1;
            justify-content: space-around;
            align-items: center;
            margin: 3px;


            .item-name {
                color: white;
            }

            .item-quantity {
                color: blue;
            }

            .item-description {
                display: none;
            }
        }
    }
}
