CPlayerJob {
    color: white;
    font-family: Poppins;

    .menujob {
        width: 20%;
        flex-direction: column;
        margin: 20px;
        border: 2px solid blue;

        .jobname {
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            border: 2px solid pink;
            width: 90%;
            min-width: 150px;
            height: auto;
            min-height: 0;
            margin-left: 5%;
            background-color: rgba (30, 30, 30, 0.8);
            display: flex;
            cursor: pointer;

            .iconpanel {
                position: absolute;
                left: 8px;
                opacity: 0;
            }

            &:hover {
                background-color: #0583F2;
                color: black;
            }

            &.active {
                background-color: #0583F2;
                color: rgb(0, 0, 0 );
            }

            &.active:hover, &.active {
                z-index: 1;
            }
        }
    }

    .listjob {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        border: 2px solid red;
    }
}
