@import '/theme.scss';

.page {

    .menujob {
        width: 20%;
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
        background-color: $hud-background-color;

        .jobname {
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            border: 2px solid grey;
            width: 90%;
            min-width: 150px;
            height: auto;
            min-height: 0;
            margin-top: 5%;
            margin-left: 5%;
            background-color: rgba (30, 30, 30, 0.8);
            display: flex;
            cursor: pointer;

            .iconpanel {
                position: absolute;
                left: 8px;
                opacity: 0;
            }

            &:hover {
                background-color: #0583F2;
                color: black;
            }

            &.active {
                background-color: #0583F2;
                color: rgb(0, 0, 0 );
            }

            &.active:hover, &.active {
                z-index: 1;
            }
        }
    }

    .job {
        width: 80%;
        flex-direction: column;
        margin: 20px;

        .header {
            width: 100%;
            height: 10%;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
            background-color: $hud-background-color;
            margin-bottom: 10px;

            .lvl-info {
                justify-content: center;
                align-items: center;
                width: 10%;
                font-size: 45px;
                background-image: url('https://i.gyazo.com/6d3a6201110e4a6bccbd1558e07d1769.png');
                background-repeat: no-repeat;
                background-size: 100%;
            }

            .xp {
                flex-direction: column;

                .status-bar {
                    justify-content: center;
                    align-content: center;
                    top: 10px;

                    .progress {
                        margin-top: 2%;
                        height: 20px;
                        background-color: rgba(255,255,255, 0.3 );
                        justify-content: flex-start;
                        align-items: center;
                        border: 2px solid black;
                        border-radius: 50%;
                        width: 90%;
                        position: relative;

                        .xp-value {
                            background-color: darkorange;
                            border-radius: 50%;
                            height: 100%;
                            width: 2%; /*Bug en % < 2 */
                        }
                    }
                }
            }
        }

        .body {
            width: 100%;
            height: 90%;
            flex-direction: column;
            border-radius: 10px;
            background-color: $hud-background-color;
            margin-bottom: 10px;


            .recapjob {
                width: 100%;
                height: 30%;

                .positionjob {
                    width: 30%;
                    background-image: url('https://i.gyazo.com/68156212b0dcc37cbc6445db0f3742fa.png');
                    background-repeat: no-repeat;
                    background-size: auto;
                    margin-top: 20px;
                    margin-left: 20px;
                }

                .infojob {
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                }
            }

            .presentation {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
            }
        }
    }
}
