@import '/theme.scss';

CPlayerCraftStock {
    CInventory, CInventoryVIP {
        flex-wrap: wrap;
        width: 100%;
        height: 30%;
        margin-left: 10%;
        margin-top: 2%;

        CInventoryItem {
            width: 10%;
            height: auto;
            aspect-ratio: 1;
        }
    }
}
