@import '/theme.scss';

CPlayerMenuCraft {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    pointer-events: all;
    //backdrop-filter: blur( 10px);
    //background-color: rgba (50,100,150, 0.5);
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: white;
    border-radius: 10px;

    .MenuCraft {
        width: 80%;
        height: 80%;
        background-color: $hud-background-color;
        border: 2px solid black;
        border-radius: 15px;
        justify-content: center;
        align-content: center;
        //Colonne Gauche
        .ListCraft {
            flex-direction: column;
            width: 50%;
            height: 100%;

            .Titre {
                text-align: center;
                width: 100%;
                height: 10%;
                align-items: center;
                font-size: 30px;
                background: radial-gradient(#26222190, #59595990, #403F3E90);
                border-radius: 15px 0 0 0;
            }

            .Craft {
                width: 100%;
                height: 20%;
                align-items: center;
                font-size: 15px;
                margin-top: 20px;
                flex-shrink: 0;
                background-color: $hud-background-color;

                .img {
                    width: 20%;
                    height: 100%;
                    border-top: 2px solid black;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                    background-image: url('https://i.gyazo.com/0da7fbda0b63a32b962d0eb2bd7f8794.png');
                    background-size: 100%;
                    //background-repeat: no-repeat;
                }

                .item {
                    width: 80%;
                    height: 100%;
                    flex-direction: column;
                    border: 2px solid black;

                    .name {
                        width: 100%;
                        height: 30%;
                        align-items: center;
                        justify-content: center;
                        background: radial-gradient(#26222180, #59595980, #403F3E80);
                        font-size: 20px;
                        border-bottom: 2px solid black;
                    }

                    .description {
                        width: 100%;
                        height: 70%;
                        padding: 10px;
                    }
                }
            }

            .nolvl {

                .img {
                    opacity: 0.2;
                }

                .lvl {
                    left: 35%;
                    top: 35%;
                    opacity: 10;
                    font-size: 45px;
                }
            }
        }

        .scroller {
            overflow: scroll;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        //Colonne Droite
        .RecetteCraft {
            width: 50%;
            height: 100%;
            flex-direction: column;

            .Craft {
                height: 50%;
                width: 100%;
                border-left: 2px solid black;
                border-bottom: 2px solid black;

                .Recette {
                }
            }

            .Stock {
                height: 50%;
                width: 100%;
                border-left: 2px solid black;
                //background-color: $hud-background-color;

                .Items {
                    flex-direction: column;
                    width: 100%;
                    height: 90%;
                    justify-content: center;
                    align-content: center;

                    CInventory, CInventoryVIP {
                        left: 13%;
                        top: 5%;
                        flex-wrap: wrap;
                        width: 90%;
                        height: 90%;

                        CInventoryItem, .item-bag {
                            background-color: rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(10px) saturate(80%);
                            border: 2px solid black;
                            border-radius: 10px;
                            width: 65px;
                            height: 65px;
                            align-items: center;
                            margin: 3px;


                            .item-name {
                                color: white;
                            }

                            .item-quantity {
                                color: blue;
                            }

                            .item-description {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
