@import '/theme.scss';

CPlayerHUD {
    bottom: 0px;
    padding: 20px;
    width: 30%;
    height: 100%;
    color: white;
    font-family: Poppins;


    .hudgauche {
        flex-direction: column;
        width: 100%;
        height: 100%;

        .hudplayer {
            height: 20%;
            width: 100%;

            .heroPortrait {
                border: 5px solid black;
                border-radius: 50%;
            }

            .big {
                .heroPortrait {
                    height: 360px;
                }
            }

            .verybig {
                .heroPortrait {
                    height: 600px;
                }
            }

            .status {
                left: -90px;
                position: relative;


                .title, .bars {
                    position: absolute;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $hud-background-color;
                    backdrop-filter: blur(10px) saturate(80%);
                    padding-left: 90px;
                    border: 2px solid red;
                }

                .title {
                    top: 20px;
                    height: 40px;
                    width: 250px;
                    font-size: 18px;
                    border-top-right-radius: 5%;
                    border-top: 2px solid black;
                    border-right: 2px solid black;
                }

                .bars {
                    top: 60px;
                    border-top-right-radius: 5%;
                    border-bottom-right-radius: 50%;
                    border-top: 2px solid black;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    height: 50%;
                    width: 290px;
                }
            }
        }

        .chatbox {
            border-radius: 10px;
            background-color: $hud-background-color;
            backdrop-filter: blur(10px) saturate(80%);
            width: 100%;
            height: 20%;
            flex-direction: column;
            top: 60%;

            .tchat {
                margin: 10px;
                flex-direction: column;
            }

            .tchatentry {
                border: 2px solid black;
                border-radius: 0 0 10px 10px;
                background-color: $hud-background-color;
                backdrop-filter: blur(10px) saturate(80%);
                position: absolute;
                height: 15%;
                width: 100%;
                top: 85%;

                .channel {
                    border: 2px solid grey;
                    border-radius: 0 0 0 10px;
                    width: 20%;
                    justify-content: center;
                    margin-right: 5%;

                    .arrow {
                        font-size: 10px;
                        align-items: center;
                        margin-left: 5px;
                    }
                }

                .textentry {
                    border: 2px solid grey;
                    border-radius: 0 0 10px 0;
                    width: 75%;

                    .entry {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}