icon {
    font-size: 50px;
    color: white;
    font-family: MaterialIcons;
    padding: 10px;

    &.outline {
        font-family: MaterialIconsOutlined;
    }

    &.round {
        font-family: MaterialIconsRound;
    }

    &.sharp {
        font-family: MaterialIconsSharp;
    }

    &.twotone {
        font-family: MaterialIconsTwoTone;
    }
}
