@import '/theme.scss';

CPlayerMenuCraft {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    pointer-events: all;
    //backdrop-filter: blur( 10px);
    //background-color: rgba (50,100,150, 0.5);
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: white;
    border-radius: 10px;

    .MenuCraft {
        width: 80%;
        height: 80%;
        //border: 2px solid red;
        background-color: $hud-color;
        justify-content: center;
        align-content: center;
        //Colonne Gauche
        .ListCraft {
            flex-direction: column;
            // border: 2px solid blue;
            width: 50%;
            height: 100%;

            .Titre {
                text-align: center;
                width: 100%;
                height: 10%;
                border: 2px solid yellow;
                align-items: center;
                font-size: 30px;
                background-color: $hud-color;
            }

                .Craft {
                    width: 780px;
                    height: 130px;
                    border: 2px solid black;
                    align-items: center;
                    font-size: 15px;
                    margin-top: 20px;
                    flex-shrink: 1;
                    background-color: $hud-color;

                    .img {
                        width: 20%;
                        height: 100%;
                        border: 2px solid yellow;
                    }

                    .item {
                        width: 80%;
                        height: 100%;
                        flex-direction: column;
                        border: 2px solid green;

                        .name {
                            width: 100%;
                            height: 30%;
                            border: 2px solid pink;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                        }

                        .description {
                            width: 100%;
                            height: 70%;
                            border: 2px solid purple;
                            padding: 10px;
                        }
                    }
                }
        }

        .scroller {
            overflow: scroll;
            flex-direction: column;
            border: 2px solid red;
            align-items: center;
        }
            //Colonne Droite
            .RecetteCraft {
                width: 50%;
                height: 100%;
                border: 2px solid green;

                .Recette {
                }
            }
        }
    }
